---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const blogPosts = await getCollection('blog-en');
const pages = await getCollection('pages');

const blogPage = pages.find((page) => page.data.language === 'en' && page.slug === 'blog-en');

const sortedPosts = blogPosts.sort(
  (a: CollectionEntry<'blog-en'>, b: CollectionEntry<'blog-en'>) =>
    new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Layout title={`${blogPage?.data.title || 'Blog'} - PriÄe sa parketa`} lang="en">
  <main class="homepage">
    <section class="hero-blog">
      <div class="hero-blog__container">
        <div class="hero-blog__content">
          <h1 class="hero-blog__title rw-78-600">{blogPage?.data.hero.title || 'Blog'}</h1>
          <p class="hero-blog__subtitle rw-54-500">
            {blogPage?.data.hero.description || 'Latest stories and analysis straight from the court'}
          </p>
        </div>
      </div>
    </section>

    <section class="blog-posts">
      <div class="blog-posts__container">
        <div class="blog-posts__grid">
          {sortedPosts.map((post: CollectionEntry<'blog-en'>) => (
              <a href={`/en/blog/${post.slug}`} class="post-card-link">
                <article class="post-card">
                  <div class="post-image">
                    <img src={post.data.image || '/images/HeroBanner.webp'} alt={post.data.title} />
                  </div>
                  <div class="post-content">
                    <div class="post-wrapper">
                      <h2 class="post-title rw-36-600">{post.data.title}</h2>
                      <p class="post-meta rw-16-400">
                        {new Date(post.data.date).toLocaleDateString('en-US', {
                          year: 'numeric',
                          month: 'long',
                          day: 'numeric',
                        })}
                      </p>
                      <p class="post-description rw-18-400">{post.data.description}</p>
                    </div>
                    <div class="post-wrapper">
                      <div class="post-tags">
                        {post.data.tags.map((tag: string) => (
                          <span class="tag rw-14-500">{tag}</span>
                        ))}
                      </div>
                      <span class="read-more rw-24-500">Read more</span>
                    </div>
                  </div>
                </article>
              </a>
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
